version: "3"

services:
  agnostic-server:
    container_name: agnostic-server
    ports:
      - 3030:3030
    restart: unless-stopped
    image: agnostic-server
    build:
      context: ../
      dockerfile: ./docker/dockerfile
    depends_on:
      - redis
  redis:
    image: redis
    ports:
      - 6379:6379
    volumes:
      - ${TEMP}/redis/data:/data
    restart: unless-stopped
